@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
   
</div>*@

<div class="row">
    <center>
        <div class="log" style="max-width:325px">
            <img class="lap" src="~/img/d3.png" style="width:100%">
        </div>
    </center>
    <div class="col-md-4">
        <h2>Generar Productos</h2>
        <p>
            Se agregan nuevos productos para los contribuyentes, con el fin de tener distintos obsequios.
        </p>
        <p><a class="btn btn-primary" href="http://localhost:52161/producto/Create">Registrar</a></p>
    </div>
    <div class="col-md-4">
        <h2>Generar nuevo Pais </h2>
        <p>Especificamente para crear un nuevo pais en caso que no se encuentre en la lista</p>
        <p><a class="btn btn-primary" href="http://localhost:52161/pais/Create">Registrar</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reporte Gastos </h2>
        <p>Se Generan reporte de Gastos Internos, calculo de IVA, ISR, Ahorros por cada aporte </p>
        <p><a class="btn btn-primary" href="http://localhost:52161/reporte">Ver</a></p>
    </div>
</div>