@using FinalP10.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar Sesión";
}


<div class="row">
    <center>
        <div class="log" style="max-width:175px">
        <img class="lap" src="~/img/d2.png" style="width:100%">
       
        </div>
       
        <center>
            <h2>@ViewBag.Title</h2>
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </center>
   

    </center>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}